<mat-card>
  <mat-card-header>


    <header style=" width: 100%; display:flex; align-items: center;
      justify-content: space-between; gap: 2vw; ">
      <h3> {{index}}. {{region.name}}</h3>

      <mat-icon *ngIf="!showContent" (click)="toggleShowContent()">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="showContent" (click)="toggleShowContent()">keyboard_arrow_up</mat-icon>
    </header>
  </mat-card-header>
  <div *ngIf="showContent">
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>{{region.description}}</p>
      <h4>Properties</h4>
      <mat-list role="list">
        <mat-list-item *ngFor="let property of region.properties"
          role="listitem">{{property}}</mat-list-item>
        <mat-list-item *ngIf="region.properties.length === 0" role="listitem">No
          properties for this region</mat-list-item>
      </mat-list>
      <h4>Managers</h4>
      <mat-list role="list">
        <mat-list-item *ngFor="let manager of region.managers"
          role="listitem">{{manager}}</mat-list-item>
        <mat-list-item *ngIf="region.managers.length === 0" role="listitem">No
          managers for this region</mat-list-item>

      </mat-list>
      <h4>Staff</h4>
      <mat-list role="list">
        <mat-list-item *ngFor="let staff_member of region.staff_members"
          role="listitem">{{staff_member}}</mat-list-item>
        <mat-list-item *ngIf="region.staff_members.length === 0"
          role="listitem">No staff members for this region</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end" style="gap:2vw;">
      <button mat-fab color="primary" aria-label="Example icon button with a
        delete icon" (click)="openPutDialog()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab color="warn" aria-label="Example icon button with a
        delete icon" (click)="openDeleteDialog()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
