<div *ngIf="property$ | async as property" class="hero"
  [style.background]="getBackground(property.image_url) "
  style="background-size: cover; background-repeat: no-repeat;">
  <h1>{{property.name}}</h1>
  <h3>{{property.region}}</h3>
  <h3> {{property.description}} </h3>
  <h4>Scroll down to discover more</h4>
</div>

<div *ngIf="property$ | async as property" class="description">
  <h4>Bedrooms: {{property.bedrooms}}</h4>
  <h4>Bathrooms: {{property.bathrooms}}</h4>
  <h4>Surface :{{property.square_meters}}</h4>
  <h4></h4>
  <h4>Adress: {{property.city}},{{property.street}} {{property.number}}</h4>

  <button mat-button color="primary" (click)="bookProperty()">Book</button>

</div>

<app-properties-item-gallery [id]="id"></app-properties-item-gallery>
