.hero {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2vh;
  padding: 5vh;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.description {
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 5vh;
  gap: 1vh;
  flex-direction: column;
}

.description h4 {
  margin: 0;
}

.description button {
  align-self: center;
}

h1,
h3,
h4 {
  color: white;
}

.facilities-list button {
  color: white;
  font-size: larger;
}

table {
  width: 100%;
  color: white;
  margin: 5vh 0;
}

th {
  color: gold;
  font-size: larger;
}

