.hero {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2vh;
  padding: 5vh;
  background-position: center;
  background-size: cover;
}

.description {
  background-color: black;
}

.description h4 {
  margin: 0;
}

h1,
h3,
h4 {
  color: white;
}
