<div class="container">

  <section>
    <h1>Main</h1>
    <p>What sets LVX apart is our commitment to customization. We understand
      that every guest is unique, and we go the extra mile to ensure your stay
      meets your individual preferences. From personalized services to bespoke
      experiences, our offerings are designed to match your desired pace and
      lifestyle. Whether you seek adventurous excursions, wellness retreats, or
      gastronomic delights, LVX is here to craft your stay into a truly
      individualized luxury experience.</p>

    <button mat-button color="primary" routerLink="/properties">Discover</button>

  </section>

</div>
