.container {
  width: 100%;
  height: 95vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 50%, rgb(0, 0, 0)),
    url("../../../../assets/images/hero-facilities.jpg");
  background-size: cover;
}
