h1,
h2 {
  font-size: 4rem;
  text-align: center;
}

p {
  font-size: large;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2vw;
  box-sizing: border-box;
}

.row:nth-child(even) {
  flex-direction: row-reverse;
}

.row img,
.row p {
  width: 50%;
}

section {
  width: 100%;
  padding: 5vh;
  box-sizing: border-box;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section:nth-child(4),
section:nth-child(5) {
  background-color: white;
  color: black;
}

section:nth-child(1) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.268), black),
    url("https://images.english.elpais.com/resizer/_q4PfhSfWJDM2nTsw7tTKgjZfus=/1960x1103/filters:focal(851x782:861x792)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/YYRW6ACK6ZG7RGBE6JRO2EYYXM.jpg");
}
