
<h1 mat-dialog-title>Create a new faciliy</h1>
<div mat-dialog-content>

  <mat-tab-group>

    <mat-tab label="Category">

      <mat-form-field class="example-full-width" style="width: 100%; margin-top:
        5vh; ">
        <mat-label>Name for the new facility category</mat-label>
        <input matInput placeholder="Ex. Drinks"
          [(ngModel)]="newFacilityCategory.name" style="width: 100%;">
      </mat-form-field>

      <div mat-dialog-actions style="display: flex; align-items: center;
        justify-content: space-between; ">
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- <span fl ></span> -->
        <button mat-raised-button color="primary" mat-dialog-close
          (click)="postFacilityCategory()">Add</button>
      </div>

    </mat-tab>

    <mat-tab label="Subcategory">

      <mat-form-field class="example-full-width" style="width: 100%; margin-top:
        5vh; ">
        <mat-label>Name for the new facility subcategory</mat-label>
        <input matInput placeholder="Ex. Champagne"
          [(ngModel)]="newFacilitySubcategory.name" style="width: 100%;">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Category</mat-label>
        <input type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [(ngModel)]="newFacilitySubcategory.category"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let facilityCategory of facilityCategories$ |
            async" [value]="facilityCategory.name" #categoryOptionRef>
            {{facilityCategory.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div mat-dialog-actions style="display: flex; align-items: center;
        justify-content: space-between; ">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" mat-dialog-close
          (click)="postFacilitySubcategory()">Add</button>
      </div>

    </mat-tab>
    <mat-tab label="Item">

      <!-- THE SECTION FOR ITEMS -->

      <!-- name -->

      <mat-form-field class="example-full-width" style="width: 100%; margin-top:
        5vh; ">
        <mat-label>Name for the new facility subcategory</mat-label>
        <input matInput placeholder="Ex. Champagne"
          [(ngModel)]="newFacilityItem.name" style="width: 100%;">
      </mat-form-field>

      <!-- subcategory -->

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Subcategory</mat-label>
        <input type="text"
          placeholder="Select a subcategory"
          aria-label="select a option"
          matInput
          [(ngModel)]="newFacilityItem.subcategory"
          [matAutocomplete]="autoItem">
        <mat-autocomplete #autoItem="matAutocomplete">

          <mat-option *ngFor="let element of facilitySubcategories"
            [value]="element.name">
            {{element.name}}
          </mat-option>

        </mat-autocomplete>
      </mat-form-field>

      <!-- price -->

      <mat-form-field class="example-full-width" style="width: 100%; ">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Ex. Champagne"
          [(ngModel)]="newFacilityItem.price" type="number">
      </mat-form-field>


      <mat-checkbox color="primary" labelPosition="before"
        [(ngModel)]="newFacilityItem.adult_only">Adult
        only</mat-checkbox>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select [(ngModel)]="newFacilityItem.level">
          <mat-option *ngFor="let i of itemLevelsOptions" [value]="i.value">
            {{i.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div mat-dialog-actions style="display: flex; align-items: center;
        justify-content: space-between; ">
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- <span fl ></span> -->
        <button mat-button color="warn" mat-dialog-close
          (click)="postFacilityItem()">Add</button>
      </div>



    </mat-tab>
  </mat-tab-group>

</div>
