
<h1 mat-dialog-title>Create a new faciliy</h1>
<div mat-dialog-content style="width: 70vw; height: 70vh;">

  <mat-tab-group>

    <mat-tab label="Category">

      <mat-form-field class="example-full-width" style="width: 100%; margin-top:
        5vh; ">
        <mat-label>Name for the new facility category</mat-label>
        <input matInput placeholder="Ex. Drinks"
          [(ngModel)]="newFacilityCategory.name" style="width: 100%;">
      </mat-form-field>

      <div mat-dialog-actions style="display: flex; align-items: center;
        justify-content: space-between; ">
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- <span fl ></span> -->
        <button mat-raised-button color="primary" mat-dialog-close
          (click)="postFacilityCategory()">Add</button>
      </div>

    </mat-tab>

    <mat-tab label="Subcategory">

      <mat-form-field class="example-full-width" style="width: 100%; margin-top:
        5vh; ">
        <mat-label>Name for the new facility subcategory</mat-label>
        <input matInput placeholder="Ex. Champagne"
          [(ngModel)]="newFacilitySubcategory.name" style="width: 100%;">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Category</mat-label>
        <input type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [(ngModel)]="newFacilitySubcategory.category"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let facilityCategory of facilityCategories$ |
            async" [value]="facilityCategory.name" #categoryOptionRef>
            {{facilityCategory.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div mat-dialog-actions style="display: flex; align-items: center;
        justify-content: space-between; ">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" mat-dialog-close
          (click)="postFacilitySubcategory()">Add</button>
      </div>

    </mat-tab>
    <mat-tab label="Item">

      <form #facilityForm="ngForm" (ngSubmit)="postFacilityItem"
        style="display: flex; flex-direction: column;  ">
        <mat-form-field style="width: 100%;">
          <mat-label>Name</mat-label>
          <input matInput name="name" ngModel required>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <mat-label>Subcategory</mat-label>
          <input matInput name="subcategory" ngModel required>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <mat-label>Category</mat-label>
          <input matInput name="category" ngModel required>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <mat-label>Description</mat-label>
          <textarea matInput name="description" ngModel required></textarea>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <mat-label>Image URL</mat-label>
          <input matInput name="imageUrl" ngModel>
        </mat-form-field>

        <button mat-raised-button color="primary"
          [disabled]="!facilityForm.valid">Submit</button>
      </form>

    </mat-tab>
  </mat-tab-group>

</div>
