<h2>Welcome back, {{(selectedProfile$| async).first_name}}</h2>

<p>Configure your reservation for Property {{ (selectedProperty$|async).name }}
  for
  {{((reservation$| async)[0].start_date)|date }}-{{((reservation$|
  async)[0].end_date)|date }}</p>

<h2>Profiles</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quidem ipsa
  nostrum explicabo asperiores voluptates molestias, ab voluptatibus qui,
  possimus aliquid sint itaque maxime quod. Eum ex ipsa nemo beatae.</p>

<span *ngIf="profiles$|async" class="list">

  <button
    *ngFor="let profile of profiles$ | async"
    mat-stroked-button
    class="profile-button"
    [color]="profile.id === (selectedProfile$|async).id? 'primary':''"
    (click)="selectProfile(profile)"><h4>{{profile.first_name}}
      {{profile.last_name}} </h4></button>
  <button mat-stroked-button color="primary" class="profile-button"
    (click)="openCreateNewProfileDialog()"> Create New
    Profile</button>
</span>

<span *ngIf="!(profiles$| async)">
  <h4>No profiles yet!</h4>
</span>
