<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h1>Create a new reservation</h1></mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <app-reservation-new-form></app-reservation-new-form>
    <app-reservations-profiles></app-reservations-profiles>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>
