.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.453), black),
    url("../../../assets/images/hero-facilities.jpg");

  background-size: cover;
  background-position: center;
}

form {
  display: grid;

  gap: 3vw;
  box-sizing: border-box;
  width: 85%;
  height: 85%;
  padding: 5vh;
  // outline: 3px solid red;
  background-color: rgba(255, 255, 255, 0.917);
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

.form-field input {
  border: none;
  outline: none;
  background-color: inherit;
  flex: 1;
  text-align: center;
}

.spacer {
  display: none;
}

@media (min-width: 1000px) {
  form {
    grid-template-columns: repeat(4, 1fr);
  }

  .spacer{
    display: block;
  }

  .form-field:nth-child(1),
  .form-field:nth-child(2),
  .spacer {
    grid-column: span 2;
  }

  .form-field:nth-child(3),
  .form-field:nth-child(4),
  .form-field:nth-child(5),
  .form-field:nth-child(6) {
    grid-column: span 3;
  }
}
