<div class="container">
  <form #form="ngForm" (ngSubmit)="submit(form)">

    <div class="form-field">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" ngModel #first_name="ngModel"
        name="first_name" required>
    </div>

    <div class="form-field">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" ngModel
        name="last_name" required>
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <input type="password" id="password" ngModel
        name="password" required>
    </div>

    <div class="form-field">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ngModel
        required>
    </div>

    <div class="form-field">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" id="phoneNumber" ngModel
        name="phone_number" required>
    </div>

    <!--  -->

    <div class="form-field">
      <label for="street">Street</label>
      <input type="text" id="street" ngModel
        name="street" required>
    </div>

    <div class="form-field">
      <label for="number">Street Number</label>
      <input type="text" id="number" ngModel
        name="number" required>
    </div>

    <div class="form-field">
      <label for="zip">Zip Code</label>
      <input type="text" id="zip" ngModel
        name="zip" required>
    </div>

    <div class="form-field">
      <label for="city">City</label>
      <input type="text" id="city" ngModel
        name="city" required>
    </div>

    <div class="form-field">
      <label for="state">State</label>
      <input type="text" id="state" ngModel
        name="state" required>
    </div>

    <div class="form-field">
      <label for="country">Country</label>
      <input type="text" id="country" ngModel
        name="country" required>
    </div>

    <button mat-stroked-button routerLink="/" color="accent" type="button">
      Back
    </button>
    <div class="spacer"></div>
    <button mat-stroked-button color="primary" [disabled]="!form.valid">Submit</button>

  </form>

</div>
