<h1 mat-dialog-title>Create a new Profile</h1>
<section mat-dialog-content>

  <div class="form-field">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" [(ngModel)]="newProfile.first_name"
      name="email"
      required>
  </div>

  <div class="form-field">
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" [(ngModel)]="newProfile.last_name"
      name="email"
      required>
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="newProfile.email" name="email"
      required>
  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="newProfile.password"
      name="password" required>
  </div>

</section>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
