<span mat-dialog-title><h1>Create a new Profile</h1></span>
<section mat-dialog-content>

  <div class="form-field">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" [(ngModel)]="newProfile.first_name"
      name="email"
      required>
  </div>

  <div class="form-field">
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" [(ngModel)]="newProfile.last_name"
      name="email"
      required>
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="newProfile.email" name="email"
      required>
  </div>

  <div class="form-field">
    <label for="phone_number">Phone number</label>
    <input type="text" id="phone_number" [(ngModel)]="newProfile.phone_number"
      name="phone_number" required>
  </div>

</section>
<div class="actions" mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button color="primary" mat-dialog-close (click)="createProfile()">Add</button>
</div>
