.container {
  width: 100%;
  height: 95vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25) 50%,
      rgba(0, 0, 0, 0.914)
    ),
    url("../../../../assets/images/hero-proprties.jpg");
  background-size: cover;
}
