<div class="container">

  <section>
    <h1>Main</h1>
    <p>Our portfolio proudly features premier properties in the stunning
      landscapes of Los Cabos and Punta Mita. From the sun-soaked beaches of Los
      Cabos, brimming with natural beauty and a vibrant culture, to the
      exclusive serenity of Punta Mita, our villas are thoughtfully chosen to
      provide an immersive experience in these enchanting destinations. Wake up
      to breathtaking views, indulge in local flavors, and soak in the
      tranquility that our properties offer.</p>

    <button mat-button color="primary" routerLink="/properties">Discover</button>

  </section>

</div>
