.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.159),
      rgba(0, 0, 0, 0.914)
    ),
    url("../../../../assets/images/hero.png");
  background-size: cover;
}
