<div class="row">
  <h1>Reservations</h1>
  <button mat-fab routerLink="/reservations/new">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<mat-progress-spinner mode="indeterminate" *ngIf="!(data$ | async)"></mat-progress-spinner>
<mat-tab-group style="margin-top: 5vh;" *ngIf="(data$ | async)">
  <mat-tab label="Active">
    <app-reservations-list-active></app-reservations-list-active>
  </mat-tab>
  <mat-tab label="Upcoming">
    <app-reservations-list-upcoming></app-reservations-list-upcoming>
  </mat-tab>
  <mat-tab label="Past">
    <app-reservations-list-past></app-reservations-list-past>
  </mat-tab>
</mat-tab-group>
