<div class="container">
  <div class="card">

    <h1>Thank you</h1>

    <p>We appreciate your trust in us and for choosing our services. Your
      satisfaction is our top priority.</p>

    <p>If you have any specific preferences or requirements for your
      reservation, we offer the option to customize and configure your booking
      to meet your needs. Our dedicated staff is ready to assist you in making
      your stay exceptional.</p>

    <p>Alternatively, if everything is in order and you're satisfied with your
      booking, you can relax and look forward to a wonderful experience at our
      establishment. We've taken care of all the details to ensure a seamless
      and memorable stay.</p>

    <button mat-stroked-button color="primary" (click)="configure()">Configure
      Your Reservation</button>
    <button mat-button routerLink="/properties" color="accent">Back</button>

  </div>
</div>
