.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.159) 50%,
      rgba(0, 0, 0, 0.959),
      rgb(0, 0, 0)
    ),
    url("../../../assets/images/hero.png");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  color: white;

  box-sizing: border-box;
  padding: 5vh;
}

.tab-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: large;
  width: 50%;
}
