<div class="container">

  <h1> LVX</h1>
  <p> At LVX, we bring you a curated selection of elegant villas in beautiful
    locales worldwide. Each of our properties combines comfort with a touch of
    luxury, promising a relaxing getaway. We prioritize your privacy and strive
    to
    provide a seamless, satisfying experience. Choose LVX for a truly memorable,
    high-quality stay.
  </p>

</div>
<div class="tab-container">
  <mat-tab-group animationDuration="0ms" color="primary">
    <mat-tab label="LVX"><app-home-hero-main></app-home-hero-main></mat-tab>
    <mat-tab label="Properties"><app-home-hero-properties></app-home-hero-properties></mat-tab>
    <mat-tab label="Facilities"><app-home-hero-facilities></app-home-hero-facilities></mat-tab>
  </mat-tab-group>
</div>
