<div class="container">

  <section>
    <h1>Main</h1>

    <p>Discover the epitome of refined relaxation with LVX, your trusted partner
      in premium villa rentals. Offering an exquisite blend of comfort and
      luxury, we aspire to make your stay unforgettable. Our user-friendly
      platform simplifies your search for the perfect getaway home. If you haven't
      already, we encourage you to create an account or log in to gain access to
      our exclusive portfolio and personalized features. Let's embark on this
      remarkable journey together.</p>

    <button mat-button color="primary" routerLink="/auth/code">Discover</button>

  </section>

</div>
