.sidenav {
  width: 300px;
}

.container {
  min-height: 100vh;
  min-height: 100dvh;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 0;
}
