form {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

mat-form-field{
  width: 100%;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
