.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  box-sizing: border-box;
  padding: 0 2vw;
  position: sticky;
  height: 7vh;
}

.spacer {
  flex: 2;
}

.dark {
  background-color: black;
  color: white;
}
